form.drafts-for-friends-extend {
	white-space: nowrap;
	display: none;
}

form.drafts-for-friends-extend,
form.drafts-for-friends-extend input,
form.drafts-for-friends-extend select {
	font-size: 13.5px;
}

.widefat {
	font-size: 13.5px;
}

.widefat a {
	font-size: 13.5px;
}

th.actions,
td.actions {
	text-align: center;
}

.hide {
	display: none;
}