a.draftsforfriends-extend,
a.draftsforfriends-extend-cancel {
	display: none;
}

form.draftsforfriends-extend {
	white-space: nowrap;
}

form.draftsforfriends-extend,
form.draftsforfriends-extend input,
form.draftsforfriends-extend select {
	font-size: 11px;
}

th.actions,
td.actions {
	text-align: center;
}