a.drafts-for-friends-extend,
a.drafts-for-friends-extend-cancel {
	display: none;
}

form.drafts-for-friends-extend {
	white-space: nowrap;
}

form.drafts-for-friends-extend,
form.drafts-for-friends-extend input,
form.drafts-for-friends-extend select {
	font-size: 11px;
}

th.actions,
td.actions {
	text-align: center;
}

.hide {
	display: none;
}